{
	"presets": [
		"next/babel"
	],
	"plugins": [
		[
			"module-resolver",
			{
				"root": [
					"./"
				],
				"alias": {
					"root": "./",
					"static": "./static",
					"src": "./src"
				}
			}
		]
	]
}
