.DS_Store
node_modules
/aws-config-*.json
!/aws-config-template.json
/.next
/.prebuild-cache
/.zanata-cache
/.env
/out
/static/lib/quirkbot-arduino-library
/static/lib/scratch-blocks
/static/lib/tree-sitter
/static/i18n/
/static/routes.json
/src/simulator/quirkbotArduinoLibrary/*.cpp
/src/simulator/quirkbotArduinoLibrary/*.h

/lib/tree-sitter/*
!/lib/tree-sitter/build-wasm.md
!/lib/tree-sitter/tree-sitter-cpp.wasm
