.DS_Store
node_modules
yarn-error.log
/aws-config-*.json
!/aws-config-template.json
/.env
/.next
/out
/nwjs-build
/code-nwjs-build
/nwjs-out
/nwjs-temp
/static/lib/nprogress.css
/static/lib/scratch-blocks
/static/locales/
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
