.DS_Store
node_modules
yarn-error.log
/aws-config-*.json
!/aws-config-template.json
/.env
/.next
/out
/static/lib/nprogress.css
/static/lib/scratch-blocks
/static/locales/*/computed.json
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
